/* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
    .section-general[data-v-4cb868ea] {
        background: url("../layout.png") center right/cover;
        width: 100%;
        height: 480px;
        padding: 80px 0px 0px 0px;
        top: 50%;
        left: 50%;
    }
    .title[data-v-4cb868ea] {
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.015em;
        text-align: left;
        height: 105.90732710889894px;
        width: 300px;
        left: 30px;
        top: 115px;
    }
    .contact[data-v-4cb868ea] {
        width: 100%;
        margin-left: 0%;
    }
    .our-partner[data-v-4cb868ea] {
        width: 50%;
        height: 100px;
        border-radius: 0px 0px 0px 0px;
        font-weight: bold;
        font-size: 16px;
        top: 150px;
    }
    .need-help[data-v-4cb868ea] {
        width: 50%;
        height: 100px;
        font-size: 16px;
        border-radius: 0px 0px 0px 0px;
        top: 150px;
        margin-left: 70px;
    }
    p.text-our-partner[data-v-4cb868ea] {
        margin-left: 5px;
        margin-top: 20px;
    }
    p.info-narindo[data-v-4cb868ea] {
        margin-left: 5px;
    }
    p.text-need-help[data-v-4cb868ea] {
        margin-left: 5px;
        margin-top: 20px;
    }
    p.info-need-help[data-v-4cb868ea] {
        margin-left: 5px;
        font-size: 14px;
    }
    .section-padding-generals {
        background-color: rgb(171, 18, 28);
        height: 120px;
    }
    .header[data-v-4cb868ea] {
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #ffffff;
        margin-top: -20px;
    }
    .sub-header[data-v-4cb868ea] {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #ffffff;
        margin-top: -20px;
    }
    .title-header[data-v-4cb868ea] {
        margin-top: 70px;
        width: 100%;
        height: 203px;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #000000;
        margin-left: 0px;
    }
    img.logo[data-v-4cb868ea] {
        width: 100%;
        height: 260px;
        display: block;
        margin: auto;
    }
    .article-header[data-v-4cb868ea] {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.015em;
        margin-bottom: 40px;
    }
    .partner-header[data-v-4cb868ea] {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 38px;
        width: 400px;
        letter-spacing: -0.03em;
        color: #000000;
    }
    .menu-product[data-v-4cb868ea] {
        width: 18%;
        margin-right: 10px;
        background: #ffffff;
        border-radius: 14px;
        height: 359px;
        width: 304px;
        left: 0px;
        top: 0px;
        border-radius: 14px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-product[data-v-4cb868ea]:hover {
        width: 18%;
        margin-right: 10px;
        background: #ab121c;
        border-radius: 14px;
        height: 359px;
        width: 304px;
        left: 0px;
        top: 0px;
        border-radius: 14px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-product[data-v-4cb868ea]:active {
        display: none;
    }
    .tab-content {
        display: none;
    }
    .title-header[data-v-5e76a84e] {
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: bold;
        margin-top: 70px;
        /* width: 1108px; */
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 0px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #000000;
        margin-left: -11em;
    }
    .vue-map-container[data-v-5e76a84e] {
        height: 300px;
        width: 100%;
    }
    li a {
        margin-right: 40px;
        display: block;
    }
    .text-partner {
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.015em;
        text-align: left;
        margin-left: 40px;
    }
    .text-partner-sub {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.015em;
        text-align: left;
        margin-left: 40px;
    }
    img.banner[data-v-4cb868ea] {
        display: none;
    }
    .d-block {
        margin-left: 0px;
    }
    .navbar-nav[data-v-ed558de2] {
        flex-direction: column;
    }
    .nav-link[data-v-ed558de2] {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        text-align: left;
        margin-left: 0px;
    }

    .navbar-nav[data-v-191dce1e] {
        flex-direction: column !important;
    }
    .nav-link[data-v-191dce1e] {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        text-align: left;
        margin-left: 0px;
    }
    .translate {
        display: none;
    }
    .translate-2 {
        margin-left: 24em;
        margin-right: 0px;
    }
    .coba {
        display: block;
        margin-left: 38em;
        margin-right: 0px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .section-general[data-v-4cb868ea] {
        background: url("../layout.png") center right/cover;
        width: 100%;
        height: 480px;
        padding: 80px 0px 0px 0px;
        top: 50%;
        left: 50%;
    }
    .title[data-v-4cb868ea] {
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.015em;
        text-align: left;
        height: 105.90732710889894px;
        width: 300px;
        left: 30px;
        top: 115px;
    }
    .contact[data-v-4cb868ea] {
        margin-top: 44px;
        margin-right: -220px;
        margin-left: 0px;
    }
    .our-partner[data-v-4cb868ea] {
        width: 156px;
        height: 100px;
        border-radius: 0px 0px 0px 0px;
        font-weight: bold;
        font-size: 20px;
        top: 150px;
    }
    .need-help[data-v-4cb868ea] {
        width: 156px;
        height: 100px;
        font-size: 20px;
        border-radius: 0px 0px 0px 0px;
        top: 150px;
        margin-left: 10px;
    }
    p.text-our-partner[data-v-4cb868ea] {
        margin-left: 30px;
        margin-top: 20px;
    }
    p.info-narindo[data-v-4cb868ea] {
        margin-left: 30px;
    }
    p.text-need-help[data-v-4cb868ea] {
        margin-left: 30px;
        margin-top: 20px;
    }
    p.info-need-help[data-v-4cb868ea] {
        margin-left: 30px;
    }
    .section-padding-generals {
        background-color: rgb(171, 18, 28);
        height: 120px;
    }
    .header[data-v-4cb868ea] {
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #ffffff;
        margin-top: -20px;
    }
    .sub-header[data-v-4cb868ea] {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #ffffff;
        margin-top: -20px;
    }
    .title-header[data-v-4cb868ea] {
        margin-top: 70px;
        width: 408px;
        height: 163px;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #000000;
        margin-left: 50px;
    }
    img.logo[data-v-4cb868ea] {
        width: 434.65px;
        height: 260px;
        display: block;
        margin: auto;
    }
    .article-header[data-v-4cb868ea] {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.015em;
        margin-bottom: 40px;
    }
    .partner-header[data-v-4cb868ea] {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 38px;
        width: 400px;
        letter-spacing: -0.03em;
        color: #000000;
    }
    .menu-product[data-v-4cb868ea] {
        width: 18%;
        margin-right: 10px;
        background: #ffffff;
        border-radius: 14px;
        height: 359px;
        width: 304px;
        left: 0px;
        top: 0px;
        border-radius: 14px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-product[data-v-4cb868ea]:hover {
        width: 18%;
        margin-right: 10px;
        background: #ab121c;
        border-radius: 14px;
        height: 359px;
        width: 304px;
        left: 0px;
        top: 0px;
        border-radius: 14px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-product[data-v-4cb868ea]:active {
        display: none;
    }
    .tab-content {
        display: none;
    }
    .title-header[data-v-5e76a84e] {
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: bold;
        margin-top: 70px;
        /* width: 1108px; */
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 0px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #000000;
        margin-left: -11em;
    }
    .vue-map-container[data-v-5e76a84e] {
        height: 300px;
        width: 100%;
    }
    li a {
        margin-right: 40px;
        display: block;
    }
    .text-partner {
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.015em;
        text-align: left;
        margin-left: 40px;
    }
    .text-partner-sub {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.015em;
        text-align: left;
        margin-left: 40px;
    }
    img.banner[data-v-4cb868ea] {
        display: none;
    }
    .d-block {
        margin-left: 70px;
    }
    .navbar-nav[data-v-ed558de2] {
        flex-direction: column;
    }
    .nav-link[data-v-ed558de2] {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        text-align: left;
        margin-left: 0px;
    }

    .navbar-nav[data-v-191dce1e] {
        flex-direction: column !important;
    }
    .nav-link[data-v-191dce1e] {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        text-align: left;
        margin-left: 0px;
    }
    .translate {
        display: none;
    }
    .translate-2 {
        margin-left: 24em;
        margin-right: 0px;
    }
    .coba {
        display: block;
        margin-left: 38em;
        margin-right: 0px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
